@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Playfair Display', serif;
}

#header-contatos {
    height: 20vh;
}

header {
    height: 40vw;
}

#trab-dropdown {
    background: none;
}

#button {
    background: none;
}

#dropdown-list li {
    padding: 5px;
    margin: 5px;
}

#logo {
    display: flex;
    justify-content: center;
}

.logo {
    width: 50vw;
    padding: 30px;
    padding-bottom: 0px;
}

.dropdown-list {
    width: 24%;
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 103%;
    padding: 0;
    margin: 0;
    z-index: 1;
    background: white;
    font-size: 0.9em;
    right: 48%;
    border: 1px solid black;
    transition: 2s;
}

.dropdown-itens {
    margin: 5px;
    padding: 0px;
}

a {
    text-decoration: unset;
}

a:hover {
    color: black;
    font-weight: bold;
    text-decoration: none;
}

li:hover {
    font-weight: bold;
    text-decoration-line: underline;
}

li {
    font-weight: normal;
    color: #000;
}

.menu-list {
    display: flex;
}

.dropdown {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 1.2em;
}

footer {
    margin-top: 10%;
}

#menu {
    width: 100%;
    height: 5.5vh;
    background: #fff;
    z-index: 2;
    font-weight: 600;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-left: 0px;
    border-right: 0px;
}

.menu-list li {
    padding: 10px;
}

.slide-container {
    margin-top: 30px;
}

.sobre-mim {
    height: 94vh;
    margin-left: 10px;
}

.sobre-mim-titulo {
    text-align: center;
    margin: 25px 0px;
}

.sobre-mim-texto {
    text-align: center;
}

#img-flex {
    display: flex;
    justify-content: center;
}

.sobre-mim-foto {
    margin: 1px auto 1px auto;
    width: 80%;
}

#contatos {
    text-align: center;
    padding: 10x 0px 10px 15px;
}

.contatos p {
    padding-top: 10px;
    font-size: 1em;
}

#socialmedia-contatos {
    width: 100%;
    height: 40vh;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}

#socialmedia {
    display: none;
    justify-content: space-around;
    margin-top: 7%;
    margin-bottom: 8%;
}

#socialmedia-index {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.social-media-contatos {
    width: 100%;
}

.contatos-link {
    font-size: 1em;
}


.contatos-link:hover {
    text-decoration: none;
    font-weight: normal;
}

#instagram,
#email,
#wpp {
    width: 14vw;
}

footer {
    margin-bottom: 5%;
}

@media (min-width: 576px) {
    #menu {
        display: flex;
        justify-content: center;
        background: none;
        height: 8vh;
        align-items: center;
    }
    .dropdown-list {
        font-size: 0.6em;
        top: 70px;
        left: 114px;
        border: 1px solid black;
    }
    .menu-list {
        font-size: 22px;
        display: flex;
        justify-content: center;
        position: relative;
        top: 10px;
        margin-right: 15px;
    }
    .menu-list li {
        padding: 15px;
        font-size: 1.2em;
    }
    .logo {
        width: 40vw;
    }
    .sobre-mim {
        height: 75vh;
        margin-top: 25px;
    }
    .sobre-mim-titulo {
        font-size: 2.5em;
    }
    .sobre-mim-texto {
        text-align: center;
        font-size: 1.1em;
        /*! font-weight: 500; */
        width: 100%;
        margin-top: 20px;
        height: 100%;
    }
    .sobre-mim-foto {
        margin: 1px auto 1px auto;
        width: 100%;
    }
    #img-flex {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        margin-top: 25px;
    }
    footer {
        margin-top: 0;
    }
    #socialmedia {
        margin-top: -10%;
    }
    #socialmedia-index {
        margin-top: 0%;
    }
    #contatos p {
        font-size: 1.1em;
    }
    #contatos {
        margin: 0px 0px 10px 0px;
    }
    #contatos h3 {
        font-size: 2.3em;
    }
}

@media (min-width: 768px) {
    header {
        display: flex;
        justify-content: space-around;
    }
    #menu {
        display: flex;
        justify-content: center;
        background: none;
        height: 8vh;
        align-items: center;
    }
    .dropdown-list {
        font-size: 0.6em;
        top: 85px;
        left: 114px;
        border: 1px solid black;
    }
    .logo {
        width: 27vw;
    }
    .slide-container {
        margin-top: -80px;
    }
    .sobre-mim-texto {
        font-size: 1.5em;
    }
    footer {
        margin-top: 14%;
    }
}

@media (min-width: 992px) {
    header {
        height: 53vh;
    }
    #menu {
        height: 10vh;
        display: flex;
        justify-content: center;
    }
    .dropdown-list {
        font-size: 0.6em;
        top: 86px;
        left: 130px;
        border: 1px solid black;
    }
    .logo {
        width: 24vw
    }
    .menu-list {
        font-size: 1.6em;
    }
    .slide-container {
        margin-top: -110px;
    }
    .sobre-mim {
        height: 85vh;
    }
    .sobre-mim-texto {
        width: 67%;
        position: relative;
        top: 3%;
        left: 20%;
        font-size: 1.6em;
    }
    .sobre-mim-foto {
        height: 91%;
    }
    #contatos h3 {
        font-size: 2.5em;
        padding: 1%;
    }
    #contatos p {
        font-size: 1.4em;
    }
    #instagram,
    #email,
    #wpp {
        width: 10vw;
    }
}

@media (min-width: 1200px) {
    #header-contatos{
        height: 25vh;}
    header {
        height: 65vh;
    }
    #menu {
        position: relative;
    }
    .menu-list {
        font-size: 1.8em;
    }
    .menu-list li {
        padding: 0px 25px;
    }
    .dropdown-list {
        font-size: 0.6em;
        top: 66px;
        left: 160px;
        border: 1px solid black;
    }
    #logo {
        display: flex;
        justify-content: center;
    }
    .logo {
        width: 22vw;
        padding: 40px;
        padding-bottom: 0px;
    }
    .sobre-mim-foto {
        width: 71%;
    }
    .sobre-mim-titulo {
        padding: 20px;
        font-size: 3em;
    }
    .sobre-mim-texto {
        width: 67%;
        position: relative;
        top: 3%;
        left: 20%;
        font-size: 1.6em;
    }
    #socialmedia {
        justify-content: space-evenly;
        border-left: 0px;
        border-right: 0px;
    }
    #socialmedia div {
        margin: 10px -60px;
    }
    #socialmedia-index {
        justify-content: space-evenly;
        margin-top: 0%;
    }
    footer {
        margin-top: 15%;
    }
    #contatos h3 {
        font-size: 3em;
        padding: 1%;
    }
    #contatos p {
        font-size: 1.5em;
    }
    #instagram,
    #email,
    #wpp {
        width: 8vw;
    }
}