
img {
    width: 100%;
    margin-top: 10px;
    z-index: 1;
}

img:hover{
    transform: scale(1.1);

}
i
.row-2{
    margin-top: 10px;
}
.col-mid{
    display: flex;
    align-items: center;
    
    padding: 2px;
}
p{
    text-align: center;
    padding: 10px;
    font-size: 1em;
    margin-top: 30px;
}

#gallery{
    display: none;
}

@media (min-width: 576px) 
{

    p{
        font-size: 1.1em;
    }
}@media (min-width: 768px) 
{
    header{
        height: 28vh;
    }
   
    #gallery{
        display: none;
    }
}@media (min-width: 992px) 
{
    header{
        height: 30vh;
    }
    #gallery-sm{
        display: none;
    }
    #gallery{
        display: block;
    }
}@media (min-width: 1200px) 
{
    header{
        height: 39vh;
    }
    #gallery-sm{
        display: none;
    }
    #gallery{
        display: block;
    }
}